
/*! Main */

/*? Colors
-> Background: #161620
-> Tinted Background: #121216
-> Buttons: #181820
-> Accent (Red): #ffb0b0
-> Accent (Green): #b0ffb0
-> Accent (Purple): #b0b0ff
-> Accent (Yellow): #ffffb0
-> Accent (Blue): #b0ffff
*/

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #ffffff;
    font-family: "Roboto";
    font-size: 16px;
    transition: 300ms;
    outline: none;
}

/* Hide the scrollbars (Only chrome I think) */
::-webkit-scrollbar {
    display: none;
}

canvas {
    position: absolute;
}

button {
    border: none;
    box-sizing: border-box;
    background: #181820;
    border: 2px solid #ffffff00;
    border-radius: 8px;
}

button:hover {
    cursor: pointer;
    box-shadow: #ffffffff 4px 4px;
}

button:active {
    box-shadow: #b0b0ffff 4px 4px;
}

.scrollableContainer {
    overflow-y: auto;
}

.scrollableContainer > * {
    flex-shrink: 0;
}

body {
    width: 100vw;
    height: 100vh;

    background: #161620;
    background-image: url("../assets/background.png");
    background-position: 10%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    width: 1280px !important;
    height: 720px !important;

    background: #161620;

    display: flex;
    flex-direction: row;
    gap: 12px;
}